@import url(http://fonts.googleapis.com/css?family=Lato|Raleway);

body{
background-color: #34495e;
font-family: 'Raleway', sans-serif;
}
.table td {
}
.container-fluid.content{
	margin-top: 80px;
}
.table{
	background-color: #efefef;
}

.panel-body>.table{
	background-color: rgba(255, 255, 255, 0);
}

.centered{
  text-align: center;
}

}
.margin-top{
margin-top: 100px;
}
.margin-top-small{
margin-top: 50px;
}
#tittle{
color: white;
}
